<!DOCTYPE html>
<html>
	<head>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>报销申请表单</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="renderer" content="webkit">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		[#AWSImport]
		[#AWSUIImport]
		<link rel='stylesheet' id='schemeCss' href='../apps/_bpm.platform/css/colorschemes/scheme_aws.css'  name='schemeCss'/>
	
<link type='text/css' rel='stylesheet' id='themeCss' href='../apps/_bpm.platform/css/theme/theme.css' name='themeCss'/>
</head>
	<body>
<form id="frmMain" name="frmMain" method="post">
<div id="aws-form-container" class="aws-form-ux-container" border="0">
<table id="aws-form-maintable" class="awsui-ux aws-form-ux-maintable" style="table-layout: auto;" align="center" border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr id="aws-form-titlebg" class="aws-form-ux-titlebg">
<td id="aws-form-title" class="aws-form-ux-header">报销申请表单</td>
</tr>
<tr class="aws-form-ux-formcontent" id="aws-form-formcontent">
<td>
<table id="table_container" class="awsui-ux table-striped" style="padding: 0px;" width="100%" cellspacing="3" cellpadding="0"><colgroup><col class="awsui-ux-title" /><col style="width: 50.0%;" /><col class="awsui-ux-title" /><col style="width: 50.0%;" /></colgroup>
<tbody>
<tr>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="TYPE">报销类型</label></td>
<td class="aws-form-ux-content">[#TYPE]</td>
<td class="awsui-ux-title"><label for="CNO" class="aws-form-ux-label">单据编号</label></td>
<td class="aws-form-ux-content">[#CNO]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="DEPARTMENT">报销部门</label></td>
<td class="aws-form-ux-content">[#DEPARTMENT]</td>
<td class="awsui-ux-title"><label for="REIMBURSEMEN" class="aws-form-ux-label">报销人</label></td>
<td class="aws-form-ux-content">[#REIMBURSEMEN]</td>
</tr>
<tr>
<td class="awsui-ux-title"><label class="aws-form-ux-label" for="ANNEX">附件</label></td>
<td class="aws-form-ux-content">[#ANNEX]</td>
<td class="awsui-ux-title"></td>
<td class="aws-form-ux-content"></td>
</tr>
<tr>
<td colspan="4" class="aws-form-ux-gridbg">
<div class="aws-form-ux-grid" border="0">[#Grid1]</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr class="aws-form-bottom">
<td class="aws-form-ux-actionsoft">[#Actionsoft]
<div id="hiddenArea" border="0" style="display: none;">[#STATUS]</div>
</td>
</tr>
</tbody>
</table>
</div>
</form>
</body>
</html>