<!DOCTYPE html>
<html>
	<head>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>报销申请表单</title>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
		<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
		<!--公共的js和css start-->
		[#AWSImport]
		[#AWSUIImport]
		<!--配色方案-->
		<link rel='stylesheet' id='schemeCss' href='../apps/_bpm.platform/css/colorschemes/scheme_aws.css'  name='schemeCss'/>
	<link type='text/css' rel='stylesheet' id='themeCss' href='../apps/_bpm.platform/css/theme/theme_m.css' name='themeCss'/>
</head>
	<body>
		<form id='frmMain' name='frmMain' method="post" >
			
			<div id='aws-form-container' class="mui-scroll-wrapper mobile-main-form"><!--class="aws-form-ux-container"-->
				<table  id='aws-form-maintable' class="awsui-ux aws-form-ux-maintable" style="table-layout: auto;" align="center" border="0" cellpadding="0" cellspacing="0">
					<!--每个模板必须含有 aws-form-titlebg 和 title样式 否则无法应用配色风格-->
					<tr id='aws-form-titlebg' class='aws-form-ux-titlebg' style="display: none;">
						<!--若自定义模板title的 id -->
						<td id='aws-form-title' class='aws-form-ux-header'> 报销申请表单 </td>
					</tr>
					<tr class="aws-form-ux-formcontent" id='aws-form-formcontent'>
						<td>
							<table id='table_container'  class="awsui-ux table-striped" style="padding: 0px;" width='100%' cellspacing='0' cellpadding='0'>
								<colgroup>
									<col style="width: 31%;"/>
									<col style="width: 69%;"/>
								</colgroup>
								<tr><td class='awsui-ux-title'><label id='TYPELabel' for='TYPE'>报销类型</label></td><td  class='aws-form-ux-content'>[#TYPE]</td></tr><tr><td class='awsui-ux-title'><label id='CNOLabel' for='CNO'>单据编号</label></td><td  class='aws-form-ux-content'>[#CNO]</td></tr><tr><td class='awsui-ux-title'><label id='DEPARTMENTLabel' for='DEPARTMENT'>报销部门</label></td><td  class='aws-form-ux-content'>[#DEPARTMENT]</td></tr><tr><td class='awsui-ux-title'><label id='REIMBURSEMENLabel' for='REIMBURSEMEN'>报销人</label></td><td  class='aws-form-ux-content'>[#REIMBURSEMEN]</td></tr><tr><td class='awsui-ux-title' colspan=2><label id='ANNEXLabel' for='ANNEX'>附件</label></td></tr><tr><td  class='aws-form-ux-content' colspan=2 style='padding-left:12px;'>[#ANNEX]</td></tr><tr class = 'tr1'><td colspan='2' class='aws-form-ux-gridbg'>[#Grid1]</td></tr>
							</table>
						</td>
					</tr>
					<tr class="aws-form-bottom">
						<td class="aws-form-ux-actionsoft" >[#Actionsoft]</td>
					</tr>
				</table>
			</div>
		</form>
	</body>
</html>